{% extends "base.html" %}
{% block content %}
<h2 class="section-title">Editar Proveedor</h2>

<form method="POST" class="card p-3 shadow-sm">
  <div class="row g-3">
    <div class="col-md-4"><input class="form-control" name="razonsocial" value="{{ proveedor.razonsocial }}"></div>
    <div class="col-md-4"><input class="form-control" name="contacto" value="{{ proveedor.contacto }}"></div>
    <div class="col-md-4"><input class="form-control" name="cuit" value="{{ proveedor.cuit }}"></div>
    <div class="col-md-4"><input class="form-control" name="rubro" value="{{ proveedor.rubro }}"></div>
    <div class="col-md-4"><input class="form-control" name="ubicacion" value="{{ proveedor.ubicacion }}"></div>
    <div class="col-md-4"><input class="form-control" name="descripcion" value="{{ proveedor.descripcion }}"></div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
  <a href="{{ url_for('proveedores') }}" class="btn btn-secondary mt-3">Cancelar</a>
</form>
{% endblock %}
