<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuestos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/Logo-Iarsa.png') }}" alt="Logo de la Empresa" class="logo">
        <div class="header-content">
        <h1>Gestión de Presupuestos</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('presupuestos') }}">Presupuestos</a></li>
                <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
            </ul>
        </nav>
    </header>

    <h2>Agregar Presupuesto</h2>
    <form action="{{ url_for('presupuestos') }}" method="POST" enctype="multipart/form-data">
        <label for="proveedor_id">Proveedor:</label>
        <select name="proveedor_id" required>
            <option value="" selected disabled>Elegir opción</option>
            {% for proveedor in proveedores %}
            <option value="{{ proveedor.id }}">{{ proveedor.razonsocial }}</option>
            {% endfor %}
        </select>
        
        <label for="productos">Productos (separados por comas):</label>
        <textarea name="productos" id="productos" rows="3" placeholder="Ejemplo: Producto 1, Producto 2, Producto 3"></textarea>
        
        <label for="precios_productos">Precios por Producto (separados por comas):</label>
        <textarea name="precios_productos" id="precios_productos" rows="3" placeholder="Ejemplo: 100, 200, 300"></textarea>
        
        <label for="precio">Precio Total:</label>
        <input type="text" name="precio" id="precio" required pattern="^\d+([.,]\d{1,2})?$" title="Ingrese un número válido con hasta 2 decimales (use ',' o '.')" placeholder="Ej: 1234,56">
        
        <label for="moneda">Moneda:</label>
        <select name="moneda" id="moneda" required>
            <option value="" selected disabled>Elegir opción</option>
            <option value="ARS">ARS (Pesos Argentinos)</option>
            <option value="USD">USD (Dólares)</option>
        </select>
        
        <label for="cotizacion_dolar">Cotización del Dólar:</label>
        <input type="text" name="cotizacion_dolar" id="cotizacion_dolar" pattern="^\d+([.,]\d{1,2})?$" title="Ingrese un número válido con hasta 2 decimales (use ',' o '.')" placeholder="Ej: 350,50">
        
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" required>
        
        <label for="centro_costo_id">Centro de Costos:</label>
        <select name="centro_costo_id" required>
            <option value="" selected disabled>Elegir opción</option>
            {% for centro in centros_costos %}
            <option value="{{ centro.id }}">{{ centro.nombre }}</option>
            {% endfor %}
        </select>
        
        <label for="archivo_pdf">Adjuntar PDF:</label>
        <input type="file" name="archivo_pdf" accept="application/pdf">
        
        <button type="submit">Agregar</button>
    </form>
    
    <h2>Buscar Presupuestos</h2>
    <form action="{{ url_for('presupuestos') }}" method="GET" class="search-form">
        <input type="text" name="search" placeholder="Buscar por proveedor o producto" value="{{ search_query }}">
        <button type="submit">Buscar</button>
    </form>

    <h2>Lista de Presupuestos</h2>
    <table>
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Productos</th>
                <th>Precios por Producto + IVA</th>
                <th>Precio Total</th>
                <th>Fecha</th>
                <th>Centro de Costos</th>
                <th>Cotización del Dólar a la Fecha</th>
                <th>Detalle</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for presupuesto in presupuestos %}
            <tr>
                <td>{{ presupuesto.proveedor }}</td>
                <td>
                    <ul>
                        {% for producto in presupuesto.productos %}
                        <li>{{ producto }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for precio in presupuesto.precios %}
                        <li>${{ "{:,.2f}".format(precio) }} {{ presupuesto.moneda }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>${{ "{:,.2f}".format(presupuesto.precio_total) }} {{ presupuesto.moneda }}</td>
                <td>{{ presupuesto.fecha }}</td>
                <td>{{ presupuesto.centro_costo }}</td>
                <td>
                    {% if presupuesto.cotizacion_dolar %}
                        ${{ "{:,.2f}".format(presupuesto.cotizacion_dolar) }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if presupuesto.pdf_path %}
                    <a href="{{ url_for('uploaded_file', filename=presupuesto.pdf_path) }}" target="_blank">Ver PDF</a>
                    {% else %}
                    No disponible
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('eliminar_presupuesto', presupuesto_id=presupuesto.id) }}" method="POST">
                        <button type="submit" class="btn-eliminar"></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>