<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuestos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/Logo-Iarsa.png') }}" alt="Logo de la Empresa" class="logo">
        <div class="header-content">
        <h1>Gestión de Presupuestos</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('presupuestos') }}">Presupuestos</a></li>
                <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
            </ul>
        </nav>
    </header>

    <h2>Agregar Presupuesto</h2>
    <form action="{{ url_for('presupuestos') }}" method="POST" enctype="multipart/form-data">
        <label for="proveedor_id">Proveedor:</label>
        <select name="proveedor_id" required>
            <option value="" selected disabled>Elegir opción</option>
            {% for proveedor in proveedores %}
            <option value="{{ proveedor.id }}">{{ proveedor.razonsocial }}</option>
            {% endfor %}
        </select>
        
        <label for="producto_nombre">Producto:</label>
        <input type="text" name="producto_nombre" required>
        
        <label for="precio">Precio:</label>
        <input type="text" name="precio" id="precio" required pattern="^\d+([.,]\d{1,2})?$" title="Ingrese un número válido con hasta 2 decimales (use ',' o '.')" placeholder="Ej: 1234,56">
        
        <label for="moneda">Moneda:</label>
        <select name="moneda" id="moneda" required>
            <option value="" selected disabled>Elegir opción</option>
            <option value="ARS">ARS (Pesos Argentinos)</option>
            <option value="USD">USD (Dólares)</option>
        </select>
    
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" required>
        
        <label for="centro_costo_id">Centro de Costos:</label>
        <select name="centro_costo_id" required>
            <option value="" selected disabled>Elegir opción</option>
            {% for centro in centros_costos %}
            <option value="{{ centro.id }}">{{ centro.nombre }}</option>
            {% endfor %}
        </select>
        
        <label for="archivo_pdf">Adjuntar PDF:</label>
        <input type="file" name="archivo_pdf" accept="application/pdf">
        
        <button type="submit">Agregar</button>
    </form>
    
    <h2>Buscar Presupuestos</h2>
    <form action="{{ url_for('presupuestos') }}" method="GET" class="search-form">
        <input type="text" name="search" placeholder="Buscar por proveedor o producto" value="{{ search_query }}" autofocus>
        <button type="submit">Buscar</button>
    </form>

    <h2>Lista de Presupuestos</h2>
<table>
    <thead>
        <tr>
            <th>Proveedor</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Centro de Costos</th>
            <th>Detalle</th> 
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for presupuesto in presupuestos %}
        <tr>
            <td>{{ presupuesto.proveedor }}</td>
            <td>{{ presupuesto.producto_nombre }}</td>
            <td>${{ "{:,.2f}".format(presupuesto.precio) }} {{ presupuesto.moneda }}</td>
            <td>{{ presupuesto.fecha }}</td>
            <td>{{ presupuesto.centro_costo }}</td>
            <td>
                {% if presupuesto.pdf_path %}
                <a href="{{ url_for('uploaded_file', filename=presupuesto.pdf_path) }}" target="_blank" class="btn-eliminar">Ver PDF</a>
                {% else %}
                No disponible
                {% endif %}
            </td>
            <td>
                <form action="{{ url_for('eliminar_presupuesto', presupuesto_id=presupuesto.id) }}" method="POST">
                    <button type="submit" class="btn-eliminar">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
</body>
</html>